@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body { font-family: 'Poppins', sans-serif; }

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.orange { color: #ff9f1a; }